SleepDataAutomation/PowerAutomate/code/ParseMessagesInSleepTimesMailbox/Microsoft.Flow/flows/3837f4c0-112d-40aa-9bcc-92483a26fc22/definition.json
{
    "id": "/providers/Microsoft.Flow/flows/00567ac3-2a0b-46eb-9a94-54a0e068ccb0",
    "name": "00567ac3-2a0b-46eb-9a94-54a0e068ccb0",
    "properties": {
        "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
        "connectionReferences": {
            "shared_excelonlinebusiness": {
                "connectionName": "shared-excelonlinebu-684f5648-475b-4694-ad27-c7ea99eefbc7",
                "id": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                "source": "Embedded",
                "tier": "NotSpecified"
            },
            "shared_office365": {
                "connectionName": "shared-office365-1479c526-ab89-41d4-9a48-50388a2b1bd1",
                "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
                "source": "Embedded",
                "tier": "NotSpecified"
            }
        },
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "actions": {
                "Get_emails_(V3)": {
                    "inputs": {
                        "authentication": "@parameters('$authentication')",
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                            "connectionName": "shared_office365",
                            "operationId": "GetEmailsV3"
                        },
                        "parameters": {
                            "fetchOnlyUnread": false,
                            "folderPath": "Inbox",
                            "includeAttachments": true,
                            "mailboxAddress": "@variables('SharedMailboxAddress')",
                            "searchQuery": "(from:\\\"+1*\\\" OR from:\\\"0*\\\" OR from:\\\"1*\\\" OR from:\\\"2*\\\" OR from:\\\"3*\\\" OR from:\\\"4*\\\" OR from:\\\"5*\\\" OR from:\\\"6*\\\" OR from:\\\"7*\\\" OR from:\\\"8*\\\" OR from:\\\"9*\\\") AND (NOT from:\\\"med.umich.edu\\\") AND (NOT from:\\\"umich.edu\\\")",
                            "top": 25
                        }
                    },
                    "runAfter": {
                        "Initialize_variable_-_tmpIsSleepOrWakeMaker": [
                            "Succeeded"
                        ]
                    },
                    "type": "OpenApiConnection"
                },
                "Initialize_variable_-_tmpAttachmentContent": {
                    "inputs": {
                        "variables": [
                            {
                                "name": "tmpAttachmentContent",
                                "type": "string"
                            }
                        ]
                    },
                    "runAfter": {
                        "Set_Shared_Mailbox_Address_Here": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable"
                },
                "Initialize_variable_-_tmpIsSleepOrWakeMaker": {
                    "description": "Denotes whether the message is a sleep marker or wake marker. Always in lower case to match other source data. Default is empty string.",
                    "inputs": {
                        "variables": [
                            {
                                "name": "tmpIsSleepOrWakeMarker",
                                "type": "string"
                            }
                        ]
                    },
                    "runAfter": {
                        "Initialize_variable_-_tmpParticipantId": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable"
                },
                "Initialize_variable_-_tmpMessageContent": {
                    "inputs": {
                        "variables": [
                            {
                                "name": "tmpMessageContent",
                                "type": "string"
                            }
                        ]
                    },
                    "runAfter": {
                        "Initialize_variable_-_tmpAttachmentContent": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable"
                },
                "Initialize_variable_-_tmpParticipantId": {
                    "description": "Always uppercase. Default is UNKNOWN.",
                    "inputs": {
                        "variables": [
                            {
                                "name": "tmpParticipantId",
                                "type": "string",
                                "value": "UNKNOWN"
                            }
                        ]
                    },
                    "runAfter": {
                        "Initialize_variable_-_tmpMessageContent": [
                            "Succeeded"
                        ]
                    },
                    "type": "InitializeVariable"
                },
                "Loop_through_each_email": {
                    "actions": {
                        "Clear_Temporary_Variables": {
                            "actions": {
                                "Clear_tmpAttachmentContent_variable": {
                                    "inputs": {
                                        "name": "tmpAttachmentContent",
                                        "value": "@{null}"
                                    },
                                    "type": "SetVariable"
                                },
                                "Clear_tmpMessageContent_variable": {
                                    "inputs": {
                                        "name": "tmpMessageContent",
                                        "value": "@{null}"
                                    },
                                    "runAfter": {
                                        "Clear_tmpAttachmentContent_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                },
                                "Clear_tmpSleepOrWakeMarker": {
                                    "inputs": {
                                        "name": "tmpIsSleepOrWakeMarker",
                                        "value": "@{null}"
                                    },
                                    "runAfter": {
                                        "Clear_tmpMessageContent_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                },
                                "Set_default_tmpParticipantId": {
                                    "inputs": {
                                        "name": "tmpParticipantId",
                                        "value": "UNKNOWN"
                                    },
                                    "runAfter": {
                                        "Clear_tmpSleepOrWakeMarker": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                }
                            },
                            "type": "Scope"
                        },
                        "Determine_Sleep_Marker_Type": {
                            "actions": {
                                "Is_this_a_wake_marker": {
                                    "actions": {
                                        "Set_marker_to_wake": {
                                            "inputs": {
                                                "name": "tmpIsSleepOrWakeMarker",
                                                "value": "wake"
                                            },
                                            "type": "SetVariable"
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Is_this_a_sleep_marker": {
                                                "actions": {
                                                    "Set_marker_to_sleep": {
                                                        "inputs": {
                                                            "name": "tmpIsSleepOrWakeMarker",
                                                            "value": "sleep"
                                                        },
                                                        "type": "SetVariable"
                                                    }
                                                },
                                                "else": {
                                                    "actions": {
                                                        "Set_marker_to_null": {
                                                            "inputs": {
                                                                "name": "tmpIsSleepOrWakeMarker",
                                                                "value": "@{null}"
                                                            },
                                                            "type": "SetVariable"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "or": [
                                                                {
                                                                    "contains": [
                                                                        "@toLower(variables('tmpMessageContent'))",
                                                                        "sleep"
                                                                    ]
                                                                },
                                                                {
                                                                    "contains": [
                                                                        "@toLower(variables('tmpMessageContent'))",
                                                                        "bed"
                                                                    ]
                                                                },
                                                                {
                                                                    "contains": [
                                                                        "@toLower(variables('tmpMessageContent'))",
                                                                        "bed time"
                                                                    ]
                                                                },
                                                                {
                                                                    "contains": [
                                                                        "@toLower(variables('tmpAttachmentContent'))",
                                                                        "sleep"
                                                                    ]
                                                                },
                                                                {
                                                                    "contains": [
                                                                        "@toLower(variables('tmpAttachmentContent'))",
                                                                        "bed"
                                                                    ]
                                                                },
                                                                {
                                                                    "contains": [
                                                                        "@toLower(variables('tmpAttachmentContent'))",
                                                                        "bed time"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "and": [
                                                                {
                                                                    "not": {
                                                                        "contains": [
                                                                            "@toLower(variables('tmpMessageContent'))",
                                                                            "wake"
                                                                        ]
                                                                    }
                                                                },
                                                                {
                                                                    "not": {
                                                                        "contains": [
                                                                            "@toLower(variables('tmpMessageContent'))",
                                                                            "waking"
                                                                        ]
                                                                    }
                                                                },
                                                                {
                                                                    "not": {
                                                                        "contains": [
                                                                            "@toLower(variables('tmpMessageContent'))",
                                                                            "woke"
                                                                        ]
                                                                    }
                                                                },
                                                                {
                                                                    "not": {
                                                                        "contains": [
                                                                            "@toLower(variables('tmpAttachmentContent'))",
                                                                            "wake"
                                                                        ]
                                                                    }
                                                                },
                                                                {
                                                                    "not": {
                                                                        "contains": [
                                                                            "@toLower(variables('tmpAttachmentContent'))",
                                                                            "waking"
                                                                        ]
                                                                    }
                                                                },
                                                                {
                                                                    "not": {
                                                                        "contains": [
                                                                            "@toLower(variables('tmpAttachmentContent'))",
                                                                            "woke"
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "or": [
                                                    {
                                                        "contains": [
                                                            "@toLower(variables('tmpMessageContent'))",
                                                            "wake"
                                                        ]
                                                    },
                                                    {
                                                        "contains": [
                                                            "@toLower(variables('tmpMessageContent'))",
                                                            "woke"
                                                        ]
                                                    },
                                                    {
                                                        "contains": [
                                                            "@toLower(variables('tmpMessageContent'))",
                                                            "waking"
                                                        ]
                                                    },
                                                    {
                                                        "contains": [
                                                            "@toLower(variables('tmpAttachmentContent'))",
                                                            "wake"
                                                        ]
                                                    },
                                                    {
                                                        "contains": [
                                                            "@toLower(variables('tmpAttachmentContent'))",
                                                            "woke"
                                                        ]
                                                    },
                                                    {
                                                        "contains": [
                                                            "@toLower(variables('tmpAttachmentContent'))",
                                                            "waking"
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "contains": [
                                                                "@toLower(variables('tmpMessageContent'))",
                                                                "sleep"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "contains": [
                                                                "@toLower(variables('tmpMessageContent'))",
                                                                "bed"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "contains": [
                                                                "@toLower(variables('tmpMessageContent'))",
                                                                "bed time"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "contains": [
                                                                "@toLower(variables('tmpAttachmentContent'))",
                                                                "sleep"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "contains": [
                                                                "@toLower(variables('tmpAttachmentContent'))",
                                                                "bed"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "contains": [
                                                                "@toLower(variables('tmpAttachmentContent'))",
                                                                "bed time"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Extract_Participant_Id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Extract_Body_and_Attachment_Contents": {
                            "actions": {
                                "Check_if_email_body_has_generic_MMS_message_or_is_blank": {
                                    "actions": {
                                        "Replace_tmpMessageContent_with_attachment_content": {
                                            "inputs": {
                                                "name": "tmpMessageContent",
                                                "value": "@variables('tmpAttachmentContent')"
                                            },
                                            "type": "SetVariable"
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                        }
                                    },
                                    "expression": {
                                        "or": [
                                            {
                                                "contains": [
                                                    "@variables('tmpMessageContent')",
                                                    "QuickTime"
                                                ]
                                            },
                                            {
                                                "startsWith": [
                                                    "@variables('tmpMessageContent')",
                                                    "This picture message"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@variables('tmpMessageContent')",
                                                    "@string('')"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@variables('tmpMessageContent')",
                                                    "@variables('tmpAttachmentContent')"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Check_if_email_has_attachments": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Check_if_email_has_attachments": {
                                    "actions": {
                                        "Loop_through_each_attachment": {
                                            "actions": {
                                                "Check_if_attachment_is_text": {
                                                    "actions": {
                                                        "Extract_attachment_content_and_append_to_tmp_variable": {
                                                            "inputs": {
                                                                "name": "tmpAttachmentContent",
                                                                "value": "@toLower(trim(decodeBase64(items('Loop_through_each_attachment')?['contentBytes'])))"
                                                            },
                                                            "type": "AppendToStringVariable"
                                                        }
                                                    },
                                                    "else": {
                                                        "actions": {
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "startsWith": [
                                                                    "@trim(toLower(items('Loop_through_each_attachment')?['contentType']))",
                                                                    "text"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "foreach": "@items('Loop_through_each_email')?['attachments']",
                                            "type": "Foreach"
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('Loop_through_each_email')?['hasAttachments']",
                                                    true
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Convert_Body_to_HTML_If_Needed": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Convert_Body_to_HTML_If_Needed": {
                                    "actions": {
                                        "Set_tmpMessageContent_to_email_body_text_without_HTML": {
                                            "inputs": {
                                                "name": "tmpMessageContent",
                                                "value": "@{toLower(trim(items('Loop_through_each_email')?['bodyPreview']))}"
                                            },
                                            "type": "SetVariable"
                                        }
                                    },
                                    "description": "This step checks if the body contains both an opening and closing HTML tag, so that the flow does not waste time waiting for the HTML-to-text conversion step when it is not needed.",
                                    "else": {
                                        "actions": {
                                            "Set_tmpMessageContent_to_email_body_as_is": {
                                                "inputs": {
                                                    "name": "tmpMessageContent",
                                                    "value": "@{toLower(trim(items('Loop_through_each_email')?['body']))}"
                                                },
                                                "type": "SetVariable"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "or": [
                                            {
                                                "contains": [
                                                    "@items('Loop_through_each_email')?['body']",
                                                    "<html"
                                                ]
                                            },
                                            {
                                                "contains": [
                                                    "@items('Loop_through_each_email')?['body']",
                                                    "<HTML"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@items('Loop_through_each_email')?['isHtml']",
                                                    "@bool(true)"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Clear_Temporary_Variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Extract_Participant_Id": {
                            "actions": {
                                "Extract_Participant_Id_From_Body_or_Attachment": {
                                    "description": "Participant Id is everything to the left of the first space or comma in body, or if not found in body, in the attachment content. If not found in either, return UNKNOWN. Always returns upper case.",
                                    "inputs": {
                                        "name": "tmpParticipantId",
                                        "value": "@{if(\r\n  or(\r\n      contains(variables('tmpMessageContent'),' '),\r\n      contains(variables('tmpMessageContent'),',')\r\n      ),\r\n    toUpper(trim(split(trim(split(variables('tmpMessageContent'),' ')[0]), ',')[0])),\r\n    if(\r\n        or(\r\n            contains(variables('tmpAttachmentContent'),' '),\r\n            contains(variables('tmpAttachmentContent'),',')\r\n            ),\r\n        toUpper(trim(split(trim(split(variables('tmpAttachmentContent'),' ')[0]), ',')[0])),\r\n    'UNKNOWN'\r\n    )\r\n)}"
                                    },
                                    "type": "SetVariable"
                                }
                            },
                            "runAfter": {
                                "Extract_Body_and_Attachment_Contents": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Process_Only_If_Participant_Id_and_Marker_Were_Found": {
                            "actions": {
                                "Add_a_row_into_a_table": {
                                    "inputs": {
                                        "authentication": "@parameters('$authentication')",
                                        "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                                            "connectionName": "shared_excelonlinebusiness",
                                            "operationId": "AddRowV2"
                                        },
                                        "parameters": {
                                            "dateTimeFormat": "ISO 8601",
                                            "drive": "b!M1Kws2NHQEWjCIkFtpBOKSHvJHICdKlIqCWiwpw6J01Q_pwbMCLOT6lFkIaBdift",
                                            "file": "01PL5YIATYEST4P5ZICVHKFN7CLXYQBYL5",
                                            "item/AttachmentContents": "@variables('tmpAttachmentContent')",
                                            "item/FromAddress": "@items('Loop_through_each_email')?['from']",
                                            "item/MessageBody": "@variables('tmpMessageContent')",
                                            "item/MessageDatetime": "@body('Convert_UTC_to_Eastern_Time_Zone')",
                                            "item/ParticipantID": "@variables('tmpParticipantId')",
                                            "item/SleepDatetime": "@{if(equals(variables('tmpIsSleepOrWakeMarker'), 'sleep'), body('Convert_UTC_to_Eastern_Time_Zone'), null)}",
                                            "item/WakeDatetime": "@{if(equals(variables('tmpIsSleepOrWakeMarker'), 'wake'), body('Convert_UTC_to_Eastern_Time_Zone'), null)}",
                                            "source": "me",
                                            "table": "{3CEC5E1B-E7B6-4C1D-92B8-28CA92DB8E7C}"
                                        }
                                    },
                                    "metadata": {
                                        "01PL5YIATYEST4P5ZICVHKFN7CLXYQBYL5": "/EmailSleepMarkers-SleepTimesMailbox/EmailSleepMakers.xlsx",
                                        "tableId": "{3CEC5E1B-E7B6-4C1D-92B8-28CA92DB8E7C}"
                                    },
                                    "runAfter": {
                                        "Convert_UTC_to_Eastern_Time_Zone": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "OpenApiConnection"
                                },
                                "Convert_UTC_to_Eastern_Time_Zone": {
                                    "inputs": {
                                        "baseTime": "@items('Loop_through_each_email')?['receivedDateTime']",
                                        "destinationTimeZone": "Eastern Standard Time",
                                        "formatString": "o",
                                        "sourceTimeZone": "UTC"
                                    },
                                    "kind": "ConvertTimeZone",
                                    "type": "Expression"
                                },
                                "Move_email_to_Processed_folder": {
                                    "inputs": {
                                        "authentication": "@parameters('$authentication')",
                                        "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                            "connectionName": "shared_office365",
                                            "operationId": "MoveV2"
                                        },
                                        "parameters": {
                                            "folderPath": "Data-Processed",
                                            "mailboxAddress": "@variables('SharedMailboxAddress')",
                                            "messageId": "@items('Loop_through_each_email')?['id']"
                                        }
                                    },
                                    "runAfter": {
                                        "Add_a_row_into_a_table": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "OpenApiConnection"
                                }
                            },
                            "else": {
                                "actions": {
                                    "Move_email_to_Failed_folder": {
                                        "inputs": {
                                            "authentication": "@parameters('$authentication')",
                                            "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                                "connectionName": "shared_office365",
                                                "operationId": "MoveV2"
                                            },
                                            "parameters": {
                                                "folderPath": "Data-Failed",
                                                "mailboxAddress": "@variables('SharedMailboxAddress')",
                                                "messageId": "@items('Loop_through_each_email')?['id']"
                                            }
                                        },
                                        "metadata": {
                                            "Id::AAMkADE4MjZkNmU3LWRjY2EtNGVkOC05M2NhLTAzZDkwOTg2NmZmMgAuAAAAAAAu9U_94AkQR5tRvawYp94MAQBlZc8NyDv1Trd_qyBjoWD5AAAJBSRJAAA=": "TEST"
                                        },
                                        "type": "OpenApiConnection"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('tmpParticipantId')",
                                                "UNKNOWN"
                                            ]
                                        }
                                    },
                                    {
                                        "or": [
                                            {
                                                "equals": [
                                                    "@variables('tmpIsSleepOrWakeMarker')",
                                                    "wake"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@variables('tmpIsSleepOrWakeMarker')",
                                                    "sleep"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Determine_Sleep_Marker_Type": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "foreach": "@outputs('Get_emails_(V3)')?['body/value']",
                    "runAfter": {
                        "Get_emails_(V3)": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
                "Set_Shared_Mailbox_Address_Here": {
                    "inputs": {
                        "variables": [
                            {
                                "name": "SharedMailboxAddress",
                                "type": "string",
                                "value": "sleeptimes@med.umich.edu"
                            }
                        ]
                    },
                    "runAfter": {
                    },
                    "type": "InitializeVariable"
                }
            },
            "contentVersion": "undefined",
            "description": "This flow parses SMS-to-email messages in the Sleep Times mailbox and produces a spreadsheet. It runs every 30 minutes and grabs the latest 25 emails in the Sleep Times mailbox, parses them, and adds the data as new rows in EmailSleepMakers.xlsx (OneDrive). If parsing was successful, the emails are moved to Data-Processed, otherwise they are moved to Data-Failed.",
            "metadata": {
                "clientLastModifiedTime": "2024-02-20T17:25:34.7144548Z",
                "connectionKeySavedTimeKey": "2024-02-20T17:25:34.7144548Z",
                "creator": {
                    "id": "7dd5f4ff-6642-4231-89cb-c2f3b71f50cf",
                    "tenantId": "1f41d613-d3a1-4ead-918d-2a25b10de330",
                    "type": "User"
                },
                "failureAlertSubscription": true,
                "flowChargedByPaygo": null,
                "flowclientsuspensionreason": "None",
                "flowclientsuspensionreasondetails": null,
                "flowclientsuspensiontime": null,
                "processAdvisorMetadata": null,
                "provisioningMethod": "FromDefinition",
                "workflowEntityId": null
            },
            "parameters": {
                "$authentication": {
                    "defaultValue": {
                    },
                    "type": "SecureObject"
                },
                "$connections": {
                    "defaultValue": {
                    },
                    "type": "Object"
                }
            },
            "triggers": {
                "Run_on_a_Schedule": {
                    "recurrence": {
                        "frequency": "Minute",
                        "interval": 30,
                        "startTime": "2024-01-28T05:00:00.000Z",
                        "timeZone": "Eastern Standard Time"
                    },
                    "type": "Recurrence"
                }
            }
        },
        "displayName": "Parse messages in sleeptimes mailbox",
        "flowFailureAlertSubscribed": false,
        "isManaged": false
    },
    "type": "Microsoft.Flow/flows"
}