SleepDataAutomation/PowerAutomate/code/ParseMessagesInSleepTimesMailbox/Microsoft.Flow/flows/3837f4c0-112d-40aa-9bcc-92483a26fc22/definition.json
{"name":"00567ac3-2a0b-46eb-9a94-54a0e068ccb0","id":"/providers/Microsoft.Flow/flows/00567ac3-2a0b-46eb-9a94-54a0e068ccb0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Parse messages in sleeptimes mailbox","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"7dd5f4ff-6642-4231-89cb-c2f3b71f50cf","type":"User","tenantId":"1f41d613-d3a1-4ead-918d-2a25b10de330"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-02-23T20:18:42.859916Z","connectionKeySavedTimeKey":"2024-02-23T20:18:42.859916Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Run_on_a_Schedule":{"recurrence":{"frequency":"Minute","interval":30,"startTime":"2024-01-28T05:00:00.000Z","timeZone":"Eastern Standard Time"},"type":"Recurrence"}},"actions":{"Get_emails_(V3)":{"runAfter":{"Initialize_variable_-_tmpIsSleepOrWakeMaker":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"Inbox","fetchOnlyUnread":false,"mailboxAddress":"@variables('SharedMailboxAddress')","includeAttachments":true,"searchQuery":"(from:\\\"+1*\\\" OR from:\\\"0*\\\" OR from:\\\"1*\\\" OR from:\\\"2*\\\" OR from:\\\"3*\\\" OR from:\\\"4*\\\" OR from:\\\"5*\\\" OR from:\\\"6*\\\" OR from:\\\"7*\\\" OR from:\\\"8*\\\" OR from:\\\"9*\\\") AND (NOT from:\\\"med.umich.edu\\\") AND (NOT from:\\\"umich.edu\\\")","top":25},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEmailsV3"},"authentication":"@parameters('$authentication')"}},"Loop_through_each_email":{"foreach":"@outputs('Get_emails_(V3)')?['body/value']","actions":{"Process_Only_If_Participant_Id_and_Marker_Were_Found":{"actions":{"Move_email_to_Processed_folder":{"runAfter":{"Add_a_row_into_a_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"messageId":"@items('Loop_through_each_email')?['id']","folderPath":"Data-Processed","mailboxAddress":"@variables('SharedMailboxAddress')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"MoveV2"},"authentication":"@parameters('$authentication')"}},"Add_a_row_into_a_table":{"runAfter":{"Convert_UTC_to_Eastern_Time_Zone":["Succeeded"]},"metadata":{"01PL5YIASNQKWQC42OXZBLSZENEHK6UIFB":"/Helen-SleepTimesMailboxData/SleepTimesMailboxData.xlsx","tableId":"{3CEC5E1B-E7B6-4C1D-92B8-28CA92DB8E7C}","01PL5YIATYEST4P5ZICVHKFN7CLXYQBYL5":"/EmailSleepMarkers-SleepTimesMailbox/EmailSleepMakers.xlsx","01PL5YIAXZM2RBNDKJONGYFBGYX7SQWRS5":"/EmailSleepMarkers-SleepTimesMailbox/EmailSleepMarkers.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!M1Kws2NHQEWjCIkFtpBOKSHvJHICdKlIqCWiwpw6J01Q_pwbMCLOT6lFkIaBdift","file":"01PL5YIAXZM2RBNDKJONGYFBGYX7SQWRS5","table":"{3CEC5E1B-E7B6-4C1D-92B8-28CA92DB8E7C}","dateTimeFormat":"ISO 8601","item/ParticipantID":"@{variables('tmpParticipantId')}","item/SleepDatetime":"@{if(equals(variables('tmpIsSleepOrWakeMarker'), 'sleep'), body('Convert_UTC_to_Eastern_Time_Zone'), null)}","item/WakeDatetime":"@{if(equals(variables('tmpIsSleepOrWakeMarker'), 'wake'), body('Convert_UTC_to_Eastern_Time_Zone'), null)}","item/MessageDatetime":"@body('Convert_UTC_to_Eastern_Time_Zone')","item/FromAddress":"@items('Loop_through_each_email')?['from']","item/MessageBody":"@variables('tmpMessageContent')","item/AttachmentContents":"@variables('tmpAttachmentContent')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}},"Convert_UTC_to_Eastern_Time_Zone":{"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@items('Loop_through_each_email')?['receivedDateTime']","sourceTimeZone":"UTC","destinationTimeZone":"Eastern Standard Time","formatString":"o"}}},"runAfter":{"Determine_Sleep_Marker_Type":["Succeeded"]},"else":{"actions":{"Move_email_to_Failed_folder":{"metadata":{"Id::AAMkADE4MjZkNmU3LWRjY2EtNGVkOC05M2NhLTAzZDkwOTg2NmZmMgAuAAAAAAAu9U_94AkQR5tRvawYp94MAQBlZc8NyDv1Trd_qyBjoWD5AAAJBSRJAAA=":"TEST"},"type":"OpenApiConnection","inputs":{"parameters":{"messageId":"@items('Loop_through_each_email')?['id']","folderPath":"Data-Failed","mailboxAddress":"@variables('SharedMailboxAddress')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"MoveV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"not":{"equals":["@variables('tmpParticipantId')","UNKNOWN"]}},{"or":[{"equals":["@variables('tmpIsSleepOrWakeMarker')","wake"]},{"equals":["@variables('tmpIsSleepOrWakeMarker')","sleep"]}]}]},"type":"If"},"Clear_Temporary_Variables":{"actions":{"Clear_tmpAttachmentContent_variable":{"type":"SetVariable","inputs":{"name":"tmpAttachmentContent","value":"@{null}"}},"Clear_tmpMessageContent_variable":{"runAfter":{"Clear_tmpAttachmentContent_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"tmpMessageContent","value":"@{null}"}},"Set_default_tmpParticipantId":{"runAfter":{"Clear_tmpSleepOrWakeMarker":["Succeeded"]},"type":"SetVariable","inputs":{"name":"tmpParticipantId","value":"UNKNOWN"}},"Clear_tmpSleepOrWakeMarker":{"runAfter":{"Clear_tmpMessageContent_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"tmpIsSleepOrWakeMarker","value":"@{null}"}}},"type":"Scope"},"Extract_Body_and_Attachment_Contents":{"actions":{"Check_if_email_has_attachments":{"actions":{"Loop_through_each_attachment":{"foreach":"@items('Loop_through_each_email')?['attachments']","actions":{"Check_if_attachment_is_text":{"actions":{"Extract_attachment_content_and_append_to_tmp_variable":{"type":"AppendToStringVariable","inputs":{"name":"tmpAttachmentContent","value":"@toLower(trim(decodeBase64(items('Loop_through_each_attachment')?['contentBytes'])))"}}},"else":{"actions":{}},"expression":{"and":[{"startsWith":["@trim(toLower(items('Loop_through_each_attachment')?['contentType']))","text"]}]},"type":"If"}},"type":"Foreach"}},"runAfter":{"Convert_Body_to_HTML_If_Needed":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@items('Loop_through_each_email')?['hasAttachments']",true]}]},"type":"If"},"Convert_Body_to_HTML_If_Needed":{"actions":{"Set_tmpMessageContent_to_email_body_text_without_HTML":{"type":"SetVariable","inputs":{"name":"tmpMessageContent","value":"@{toLower(trim(items('Loop_through_each_email')?['bodyPreview']))}"}}},"else":{"actions":{"Set_tmpMessageContent_to_email_body_as_is":{"type":"SetVariable","inputs":{"name":"tmpMessageContent","value":"@{toLower(trim(items('Loop_through_each_email')?['body']))}"}}}},"expression":{"or":[{"contains":["@items('Loop_through_each_email')?['body']","<html"]},{"contains":["@items('Loop_through_each_email')?['body']","<HTML"]},{"equals":["@items('Loop_through_each_email')?['isHtml']","@bool(true)"]}]},"type":"If","description":"This step checks if the body contains both an opening and closing HTML tag, so that the flow does not waste time waiting for the HTML-to-text conversion step when it is not needed."},"Check_if_email_body_has_generic_MMS_message_or_is_blank":{"actions":{"Replace_tmpMessageContent_with_attachment_content":{"type":"SetVariable","inputs":{"name":"tmpMessageContent","value":"@variables('tmpAttachmentContent')"}}},"runAfter":{"Check_if_email_has_attachments":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"contains":["@variables('tmpMessageContent')","QuickTime"]},{"startsWith":["@variables('tmpMessageContent')","This picture message"]},{"equals":["@variables('tmpMessageContent')","@string('')"]},{"equals":["@variables('tmpMessageContent')","@variables('tmpAttachmentContent')"]}]},"type":"If"}},"runAfter":{"Clear_Temporary_Variables":["Succeeded"]},"type":"Scope"},"Extract_Participant_Id":{"actions":{"Extract_Participant_Id_From_Body_or_Attachment":{"type":"SetVariable","inputs":{"name":"tmpParticipantId","value":"@{if(\r\n  or(\r\n      contains(variables('tmpMessageContent'),' '),\r\n      contains(variables('tmpMessageContent'),',')\r\n      ),\r\n    toUpper(trim(split(trim(split(variables('tmpMessageContent'),' ')[0]), ',')[0])),\r\n    if(\r\n        or(\r\n            contains(variables('tmpAttachmentContent'),' '),\r\n            contains(variables('tmpAttachmentContent'),',')\r\n            ),\r\n        toUpper(trim(split(trim(split(variables('tmpAttachmentContent'),' ')[0]), ',')[0])),\r\n    'UNKNOWN'\r\n    )\r\n)}"},"description":"Participant Id is everything to the left of the first space or comma in body, or if not found in body, in the attachment content. If not found in either, return UNKNOWN. Always returns upper case."}},"runAfter":{"Extract_Body_and_Attachment_Contents":["Succeeded"]},"type":"Scope"},"Determine_Sleep_Marker_Type":{"actions":{"Is_this_a_wake_marker":{"actions":{"Set_marker_to_wake":{"type":"SetVariable","inputs":{"name":"tmpIsSleepOrWakeMarker","value":"wake"}}},"else":{"actions":{"Is_this_a_sleep_marker":{"actions":{"Set_marker_to_sleep":{"type":"SetVariable","inputs":{"name":"tmpIsSleepOrWakeMarker","value":"sleep"}}},"else":{"actions":{"Set_marker_to_null":{"type":"SetVariable","inputs":{"name":"tmpIsSleepOrWakeMarker","value":"@{null}"}}}},"expression":{"and":[{"or":[{"contains":["@toLower(variables('tmpMessageContent'))","sleep"]},{"contains":["@toLower(variables('tmpMessageContent'))","bed"]},{"contains":["@toLower(variables('tmpMessageContent'))","bed time"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","sleep"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","bed"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","bed time"]}]},{"and":[{"not":{"contains":["@toLower(variables('tmpMessageContent'))","wake"]}},{"not":{"contains":["@toLower(variables('tmpMessageContent'))","waking"]}},{"not":{"contains":["@toLower(variables('tmpMessageContent'))","woke"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","wake"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","waking"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","woke"]}}]}]},"type":"If"}}},"expression":{"and":[{"or":[{"contains":["@toLower(variables('tmpMessageContent'))","wake"]},{"contains":["@toLower(variables('tmpMessageContent'))","woke"]},{"contains":["@toLower(variables('tmpMessageContent'))","waking"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","wake"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","woke"]},{"contains":["@toLower(variables('tmpAttachmentContent'))","waking"]}]},{"and":[{"not":{"contains":["@toLower(variables('tmpMessageContent'))","sleep"]}},{"not":{"contains":["@toLower(variables('tmpMessageContent'))","bed"]}},{"not":{"contains":["@toLower(variables('tmpMessageContent'))","bed time"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","sleep"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","bed"]}},{"not":{"contains":["@toLower(variables('tmpAttachmentContent'))","bed time"]}}]}]},"type":"If"}},"runAfter":{"Extract_Participant_Id":["Succeeded"]},"type":"Scope"}},"runAfter":{"Get_emails_(V3)":["Succeeded"]},"type":"Foreach"},"Initialize_variable_-_tmpMessageContent":{"runAfter":{"Initialize_variable_-_tmpAttachmentContent":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tmpMessageContent","type":"string"}]}},"Initialize_variable_-_tmpAttachmentContent":{"runAfter":{"Set_Shared_Mailbox_Address_Here":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tmpAttachmentContent","type":"string"}]}},"Set_Shared_Mailbox_Address_Here":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"SharedMailboxAddress","type":"string","value":"sleeptimes@med.umich.edu"}]}},"Initialize_variable_-_tmpParticipantId":{"runAfter":{"Initialize_variable_-_tmpMessageContent":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tmpParticipantId","type":"string","value":"UNKNOWN"}]},"description":"Always uppercase. Default is UNKNOWN."},"Initialize_variable_-_tmpIsSleepOrWakeMaker":{"runAfter":{"Initialize_variable_-_tmpParticipantId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tmpIsSleepOrWakeMarker","type":"string"}]},"description":"Denotes whether the message is a sleep marker or wake marker. Always in lower case to match other source data. Default is empty string."}},"description":"This flow parses SMS-to-email messages in the Sleep Times mailbox and produces a spreadsheet. It runs every 30 minutes and grabs the latest 25 emails in the Sleep Times mailbox, parses them, and adds the data as new rows in EmailSleepMakers.xlsx (OneDrive). If parsing was successful, the emails are moved to Data-Processed, otherwise they are moved to Data-Failed."},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-1479c526-ab89-41d4-9a48-50388a2b1bd1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-684f5648-475b-4694-ad27-c7ea99eefbc7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}